/* Stylez la barre de navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ece2e2;
  opacity: 0.2;
}
body{
    background-image: url("OIIP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Stylez les liens de la barre de navigation */
a {
  display: block;
  color: rgba(41, 24, 198, 0.845);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Changez la couleur des liens au survol */
li a:hover {
  background-color: rgba(41, 24, 198, 0.845);
}
#logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}
